
.button-container {
    
    button {
        font-family: Karla;
        width: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #7b1fa2;
        border: none;
        color: white;
        font-size: 2em;
        transition: transform .1s linear;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover {
            transform: scale(1.05);
            border-radius: 5px;
            background-color:#ae52d4; 
            
        }
    }
}


@media (max-width: 1366px) {
    .button-container {
        display: flex;
        justify-content: center;
        button {

        }
    }
}