.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .typed {
    font-size: 10vmin;
    margin-left: 12vmin;
    color: white
}
.container .top {
    display: flex;
    align-items: center;
    background-color: #2980b9;
    height: 60vh;
}
.container .skills {
    text-align: left;
    margin-top: 50px;

    
}
.container .skills .image {
    text-align: center;
    margin: auto;
}

.skill-box {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.skill {

}