.App {
  box-shadow: 0px 11px 8px -10px #3a3a3a;
}
.App-header {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: auto;
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
  }
  .nav-list div {
    margin: 0px 15px 0px 15px;
  }
  .nav-list div:hover {
    opacity: .5;
  }
  .nav-list div a {
    text-decoration: none;
    color: black;
  }
  .App-body {
    margin-top: 10px;
    display: block;
  }