.header-wrapper {
    height: 100%;
    width: 100%;

}

.header-wrapper .btn-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
   
 

}
.header-wrapper .btn-wrapper div {
    margin: 4px auto 4px auto;

}

.header-wrapper ul {
    width: 100vw;
    height: 5vh;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: var(--not-text-color);
    border-bottom: 2px solid black;
}
.header-wrapper ul li {
    font-size: calc(12px + 12*(100vw - 300px)/1300);
    line-height: calc(1.3em + 0.3*(100vw - 300px)/1300);
    margin: 2vw;
    color: black;

}
.header-wrapper ul li a {
    color: black;
}
.header-wrapper ul li a:hover {
    color: white;
}

@media(max-width: 768px) {
    .header-wrapper {

    }
    .header-wrapper .btn-wrapper {
        
        align-items: center;

       
       
       
    }
    .header-wrapper .btn-wrapper div {
        width: 200px;
    }
    .header-wrapper .btn-wrapper .button {
       
    }
}