
:root {
  --main-color: #FFF;
  --side-color: #192D67;
  /* --tert-color: #9AAEE7; */
  --text-color: #000;
  --inverse-text-color: #FFF;
  --not-text-color: #DDC171 ;
  --hover-color: #CEA633;
}
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding:0;
}
html {
  background-color: var(--main-color);
}
body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--main-color);
  
}