.input {
    opacity: 0;
    
}
.input input {
    font-family: 'Rubik', sans-serif;
    margin: 20px;
    font-size: 1.1em;
    width: 50vmin;
    padding: 10px 0 10px 10px;
    border: 1px solid white;
}
.fadeup {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}