.login-wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    background-color: var(--main-color);
    align-items: center;
    flex-wrap: wrap;
}
.login-wrapper .left {
  width: 50%;
}
.login-wrapper .left h1 {
    font-size: calc(16px + 12*(100vw - 300px)/1300);
    line-height: calc(1.3em + 0.3*(100vw - 300px)/1300);
    
}
.login-wrapper .left span {
    color: #f89406;
    text-decoration: underline;
}
.right {
    height: 100vh;
    width: 50%;
    background-image: url('../img/img9colorgrey.jpg');
   
    background-repeat: no-repeat;
    background-size: cover;
}
.login {

    
}

@media(max-width:768px) {
    .login-wrapper {
        flex-direction: column;
    }
}