.loginform-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.loginform-wrapper h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;   
}
.loginform-wrapper .button {
    margin-top: 2vh;
}
.err-msg {
    
    color: Yellow;
}
@media(max-width: 768px) {
    .login-wrapper {

    }
    .login-wrapper input {
        width: 20em;
        font-size: 1em;
    }
}