.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c0392b;
    height: 100vh;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.login-wrapper h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;   
}
.login-wrapper input {
    font-family: 'Rubik', sans-serif;
    margin: 20px;
    font-size: 2em;
    width: 50vmin;
    padding: 10px 0 10px 10px;
    border: 1px solid white;
}

.err-msg {
    
    color: Yellow;
}
@media(max-width: 768px) {
    .login-wrapper input {
        width: 20em;
        font-size: 1em;
    }
}