.signupform-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.signupform-wrapper h1 {
    font-family: 'Rubik', sans-serif;
    font-size: calc(16px + 12*(100vw - 300px)/1300);
    line-height: calc(1.3em + 0.3*(100vw - 300px)/1300);
}
.signupform-wrapper .button {
    margin-top: 2vh;
}