.signup-wrapper {
    
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: auto;
    width: 20%;
    text-align: center;
    margin-top: 200px;
}

.signup-form p {
    font-size: 150%;
}
.signup-form input {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 130%;
}
.signup-form button {
    margin-top: 10px;
    width: 30%;
    margin: auto;
}